# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
