[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
drf-spectacular = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
pillow = "*"
channels = "*"
uvicorn = {extras = ["standard"], version = "*"}
channels-redis = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.9"
